In [6]:
# myscript.py

import cx_Oracle


connection = cx_Oracle.connect("halil_dba", "halil_dba", "localhost:1522/orcl")

cursor = connection.cursor()
cursor.execute("""
        SELECT first_name, last_name
        FROM hr.employees
        WHERE department_id = :did AND employee_id > :eid""",
        did = 50,
        eid = 190)
for fname, lname in cursor:
    print("Values:", fname, lname)

DatabaseError: ORA-12518: TNS:listener could not hand off client connection